<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,1},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,45},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,45},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,89},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,89},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,133},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,133},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpriteMan.png</string>
            <key>size</key>
            <string>{90,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b7f02931a992d6729d0d43faaa53a60:bcfbf2431f061bdd93beaec6fb144967:40d7a8ba5afc1c7ccd4d0fc2744ab37c$</string>
            <key>textureFileName</key>
            <string>SpriteMan.png</string>
        </dict>
    </dict>
</plist>
